# entornos
.venv*
venv/
env/
# macOS
.DS_Store
# python
__pycache__/
*.pyc
# datos/resultados pesados
data/
data_paper/
results/
# logs grandes
logs/
# cuadernos con salida
*.ipynb_checkpoints/
.local/
